header{
    margin-top: 2em;
    text-align: center;
}

body{
    background-image: url("background.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

select{
    margin-left: 5em;
}

.board{
    border: 3px solid;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px
}

#start-div{
    margin-top:  10em;
    text-align: center;
}

.option {
    height: 10em;
    width: 10em;
    margin: 2.5em;
    border: 2px solid;
    border-color: #242323;
}

#menu-div{
    height:  2.5em;
    background-color: #242323;
}

.menu-btn{
    cursor: pointer;
}

div#menu-div div p{
    color: bisque;
    text-align: center;
    margin-top: 0.5em;
}

div#menu-div div :nth-child(1){
    margin-left: 3em;
}

div#tab-test-pick p{
    text-align: center;
    margin-top: 2rem;
}

#tab-test-pick{
    display: none;
}

#tab-commom-types{
    display: none;
}

#tab-whats-colorblindness p{
    margin-left: 10px;
}
#tab-commom-types p{
    margin-left: 10px;
}

#counter-border{
    border: 3px solid;
    border-color: #242323;
    border-radius: 60%;
    width: 60px;
    margin-left: 45%;
}

.div-button{
    text-align: center;
    margin-bottom: 20px;
}
